*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    height: 90px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo h2{
    margin-left: 50px;
    padding: 10px;
    background-color: rgb(14, 52, 90);
    color: white;
    cursor: pointer;
    letter-spacing: 4px;
}
.logo p{
    border: 1px solid rgb(14, 52, 90);
    padding: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}
.logo p:hover{
    background-color: rgb(14, 52, 90);
    color: white;
}
.menu{
    font-size: 20px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 1000px;
}
.menu a {
  text-decoration: none;
  color: #000;
}
.menu-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.image{
    background-image: url("./image.jpg");
    height: 500px;
    width: 1800px;
    background-size: cover;
    margin-left: 50px;
}
.image h1{
    font-size: 110px;
    padding-left: 50px;
    color: rgb(14, 52, 90);
}
.banner{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 80px;
}
.banner h3{
    color: rgb(14, 52, 90);
    font-size: 30px;
}
.banner h1{
    color: rgb(14, 52, 90);
    font-size: 70px;
}
.hero{
    background-color: rgb(14, 52, 90);
    height: 1850px;
    width: 1800px;
    margin-left: 50px;
    margin-top: 200px;
}
.hero-section{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.banner-area{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: -80px;
}
.banner-area img{
    height: 230px;
    width: 230px;
    cursor: pointer;
}
.banner-area p{
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
}
.banner-area button{
    padding: 10px 80px;
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.hero-wrapper{
    color: white;
    height: 5px;
    width: 30px;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 100px 0px 50px 890px;
}
.banner-title{
    color: white;
    align-items: center;
    text-align: center;
}
.banner-title h2{

}
.banner-title h1{
    font-size: 55px;
}
.hero-wrapper1{
    color: white;
    height: 5px;
    width: 30px;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 50px 0px 100px 890px;
}
.hero-section1{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.banner-area1{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 30px;
}
.banner-area1 img{
    height: 230px;
    width: 230px;
    cursor: pointer;
}
.banner-area1 p{
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
}
.banner-area1 s{
    margin-top: 10px;
    padding-top: 10px;
}
.banner-area1 button{
    padding: 10px 80px;
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}
.hero-wrapper2{
    color: white;
    height: 5px;
    width: 30px;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 150px 0px 40px 890px;
}
.banner-text{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-text h1{
    font-size: 100px;
    color: white;
}
.banner-text button{
    margin-top: 50px;
    padding: 15px 30px;
    background: transparent;
    border: 3px solid white;
    color: white;
    cursor: pointer;
}
.banner-text button:hover{
    background-color: white;
    color: black;
}
.hero-wrapper3{
    color: white;
    height: 5px;
    width: 30px;
    border: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 60px 0px 0px 890px;
}
.banner-overlay{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.banner-overlay h1{
    font-size: 60px;
}
.slide-in{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 100px;
    margin-left: 80px;
}
.banner-left h3{
    margin-top: 160px;
    margin-bottom: 50px;
    cursor: pointer;

}
.banner-left p{
    margin-bottom: 20px;
    font-size: 20px;
}
.banner-left samp{
    margin-bottom: 10px;
    font-size: 20px;
}
.banner-left hr{
    width: 20px;
    margin: 10px 0px;
}
.banner-left button{
    padding: 10px 30px;
    background: transparent;
    margin-top: 50px;
    cursor: pointer;
}
.banner-right{
    border: 20px solid rgb(14, 52, 90);
}
.banner-right img{
    height: 600px;
    width: 100%;
    margin-bottom: -10px;
}
.footer{
    background-color: rgb(14, 52, 90);
    color: white;
    height: 500px;
    width: 100%;
    margin-top: 100px;
}
.main-footer{
    display: flex;
    justify-content: center;
    gap: 180px;
}
.footer1{
    font-size: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.footer2{
    font-size: 20px;
    padding-top: 80px;
}
.footer7{
    font-size: 20px;
    padding-top: 80px;
}
.footer8{
    font-size: 20px;
    padding-top: 80px;
}
.main-footer1{
    display: flex;
}
.footer3{
    font-size: 20px;
    line-height: 40px;
    margin-left: 474px;
}
.footer4{
    font-size: 20px;
    line-height: 40px;
    margin-left: 118px;
}
.footer4 p{
    cursor: pointer;
}
.footer5{
    font-size: 20px;
    line-height: 40px;
    margin-left: 61px;
}
.footer5 p{
    cursor: pointer;
}
.footer6{
    font-size: 20px;
    margin-left: 158px;
    width: 378px;
}
.footer6 p{
    margin-bottom: 20px;
    padding-top: 10px;
}
.input1{
    width: 100%;
    background: transparent;
    border: 2px solid white;
    height: 40px;
    margin-top: 10px;
    color: white;
    font-size: 20px;
}
.newsletter-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.newsletter-checkbox button{
    padding: 10px 30px;
    background-color: white;
    cursor: pointer;
    border: none;
}
.newsletter-checkbox button:hover{
    background-color: rgb(14, 52, 90);
    color: white;
}